@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root {
  --primary-color: #92400E ;
}

body {
    font-family:'Playfair Display', sans-serif;
    margin: 0px;
  }
.container{

    margin: 4rem auto;
    display: flex;
    flex-direction: column;
 
    text-align: center;
    padding: 1rem;
}
.hide{
display: none;
}
label{
    font-weight: bold;
    font-size: large;
}
#cash-section{
   
    flex-direction: column;

}
#bill-amount{
    
    margin: 1rem auto;
}
#bill-amount {
    border: 2px solid var(--primary-color);
    border-radius: 3px;
}
#cash-section input{
    
    margin: 1rem auto;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
}

    

#check{
  
    margin: auto;
}
#next{
    margin: 1rem auto;
}
.button-style{
    background-color: var(--primary-color);
    border-radius: 7px;
    font-weight: 400;
}
.button-style:hover{
    background-color:rgb(126, 41, 41);
}
td, th {
    border: 2px solid var(--primary-color);
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
  }
  
  table {
    width: 50%;
    
    border-collapse: collapse;
    margin: auto;
  }
  
  
  
  
caption{
    font-weight: bold;
    margin: 1rem;
    font-size: large;
}

